* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "DM Mono", monospace;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

a {
  text-decoration: none;
  font-family: "Comfortaa", sans-serif;
}

button,
.button {
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px 0px #494031;
          box-shadow: 1px 1px 2px 0px #494031;
  background-color: #494031;
  color: #eff0ea;
}

button:hover,
.button:hover {
  -webkit-box-shadow: 1px 1px 4px 0px #494031;
          box-shadow: 1px 1px 4px 0px #494031;
  background-color: #eff0ea;
  color: #494031;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", sans-serif;
}

.navbar {
  background-color: #c06900;
  font-size: 1rem;
}

.navbar__link {
  color: #eff0ea;
  margin: 0 20px;
  text-align: center;
}

.navbar__link:hover {
  text-decoration: underline;
  color: #eff0ea;
}

.navbar__logo {
  width: 150px;
}

.breadcrumb {
  background-color: black;
  padding: 10px;
}

.breadcrumb a {
  color: white;
}

footer {
  background-color: #c06900;
  padding: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  color: #eff0ea;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  footer {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.3rem;
  }
}

.home__introduction {
  text-align: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.home__introduction h1 {
  margin-top: 1rem;
}

.home__introduction p {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  border: 4px double #494031;
  background-color: #eaef5e;
  margin: 10px;
  width: 260px;
}

.home__introduction--inner {
  display: -ms-grid;
  display: grid;
  background-color: #eff0ea;
  width: 100%;
  justify-items: center;
}

.home__introduction--inner button {
  width: 150px;
}

.registerUserForm {
  width: 250px;
  margin: auto;
}

.registerUserForm__button {
  width: 100px;
  margin-left: 60%;
}

@media (min-width: 575px) {
  .registerUserForm__button {
    margin-left: 75%;
  }
}

@media (min-width: 575px) {
  .registerUserForm {
    width: 400px;
  }
}

.loginForm {
  width: 250px;
  margin: auto;
}

.loginForm__heading {
  text-align: center;
}

.loginForm__button {
  width: 100px;
  margin-left: 60%;
}

@media (min-width: 575px) {
  .loginForm__button {
    margin-left: 75%;
  }
}

@media (min-width: 575px) {
  .loginForm {
    width: 400px;
  }
}

.form__error {
  color: red;
}

.loadingText {
  background-color: black;
  color: white;
}

.postList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 991px) {
  .postList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.postList__card {
  width: 80%;
  position: relative;
  background-color: #eff0ea;
}

@media (min-width: 991px) {
  .postList__card {
    width: 90%;
  }
}

@media (min-width: 575px) {
  .postList__card {
    /* width: 500px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.postList__card--author {
  color: #494031;
  font-size: 1.1rem;
}

.postList__card--arrow {
  color: #494031;
  font-size: 2rem;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media (min-width: 575px) {
  .postList__card--image {
    width: 200px;
  }
}

@media (min-width: 575px) {
  .postList__card--header {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 575px) and (min-width: 991px) {
  .postList__card--header {
    width: 200px;
  }
}

.postDetails img {
  margin: 1rem;
}

.postDetails__bodytext {
  background-color: #494031;
  color: #eff0ea;
  padding: 1rem;
}

.postComments {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.postComments div:nth-child(odd) {
  background-color: lightgray;
}

.postReactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reactOnPostForm,
.commentOnPostsForm {
  display: -ms-grid;
  display: grid;
}

.reactOnPostForm__submit,
.commentOnPostsForm__submit {
  width: 150px;
}

.dashboardNavigation {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  .dashboardNavigation {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

.dashboardNavigation__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboardNavigation__profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboardNavigation__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboardNavigation--image {
  width: 100%;
}

.dashboardNavigation--link {
  font-size: large;
  position: absolute;
  background-color: #eff0ea;
  padding: 20px;
  color: #494031;
  -webkit-box-shadow: 1px 1px 2px 0px #494031;
          box-shadow: 1px 1px 2px 0px #494031;
}

.dashboardNavigation--link:hover {
  -webkit-box-shadow: 1px 1px 4px 0px #494031;
          box-shadow: 1px 1px 4px 0px #494031;
  background-color: #494031;
  color: #eff0ea;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.changeBanner__button {
  font-size: 0.8rem;
  -ms-grid-column-align: right;
      justify-self: right;
}

.ownPost {
  background-color: #eff0ea;
  padding-top: 1rem;
  margin: 10px;
}

.ownPost__arrow {
  color: #494031;
  font-size: 2rem;
  position: absolute;
  right: 20px;
}

.ownPost__delete--alert {
  background-color: #494031;
  color: #eff0ea;
  width: 100%;
  position: absolute;
}

.ownPost__delete--confirm {
  background-color: red;
}

.dashboard__menu--link a {
  background-color: white;
  padding: 1rem;
  width: 150px;
  border-radius: 5px;
}

/* .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  & :nth-child(even) {
    background-color: lightgray;
  }

  &__item {
    width: fit-content;
    margin: 5px;
    display: grid;
    border-bottom: 2px solid black;

    & img {
      width: 100px;
    }
  }
} */
.profile__avatar {
  width: 100px;
}

.profile__banner {
  width: 50%;
}

@media (min-width: 991px) {
  .profile__banner {
    max-width: 500px;
  }
}

.profilePage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileDetails__posts {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 2px 0px #494031;
          box-shadow: 1px 1px 2px 0px #494031;
}

.profileDetails__posts img {
  max-width: 150px;
}

.profileDetails__posts:hover {
  -webkit-box-shadow: 1px 1px 4px 0px #494031;
          box-shadow: 1px 1px 4px 0px #494031;
}

.profileDetails__navigateBack--btn {
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px 0px #494031;
          box-shadow: 1px 1px 2px 0px #494031;
  background-color: #494031;
  color: #eff0ea;
}

.profiles {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media (min-width: 575px) {
  .profiles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .profiles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.profiles__card {
  width: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff0ea;
}

@media (min-width: 768px) {
  .profiles__card {
    width: 70%;
  }
}

.profiles__card--avatar {
  width: 100%;
}

.profiles__search--message {
  font-size: 0.8rem;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */