.dashboardNavigation {
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  &__posts {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__profiles {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--image {
    width: 100%;
  }

  &--link {
    font-size: large;
    position: absolute;
    background-color: $colour-light;
    padding: 20px;
    color: $colour-dark;
    box-shadow: 1px 1px 2px 0px $colour-dark;

    &:hover {
      box-shadow: 1px 1px 4px 0px $colour-dark;
      background-color: $colour-dark;
      color: $colour-light;
      transition: 0.5s ease;
    }
  }
}

.dashboard__menu--link {
  & a {
    background-color: white;
    padding: 1rem;
    width: 150px;
    border-radius: 5px;
  }
}
