footer {
  background-color: $colour-header;
  padding: 1rem;
  flex-shrink: 0;
  display: grid;
  justify-content: center;

  a {
    color: $colour-light;
    margin: 0 1rem;

    &:hover {
      color: $colour-light;
      text-decoration: underline;
    }
  }

  @media (min-width: $mediumScreen) {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.3rem;
  }
}
