* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-main;
}

.wrapper {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  font-family: $font-navigation;
}

.button {
  padding: 10px;
  box-shadow: $button-shadow;
  background-color: $colour-dark;
  color: $colour-light;

  &:hover {
    box-shadow: $button-shadow-hover;
    background-color: $colour-light;
    color: $colour-dark;
    transition: 0.5s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-navigation;
}
