.home__introduction {
  text-align: center;
  width: 100%;
  display: grid;
  justify-items: center;

  & h1 {
    margin-top: 1rem;
  }

  & p {
    transform: rotate(3deg);
    border: 4px double $colour-dark;
    background-color: $colour-bright;
    margin: 10px;
    width: 260px;
  }

  &--inner {
    display: grid;
    background-color: $colour-light;
    width: 100%;
    justify-items: center;

    & button {
      width: 150px;
    }
  }
}
