.home__introduction {
  text-align: center;
  width: 100%;
  display: grid;
  justify-items: center;

  & h1 {
    margin-top: 1rem;
  }

  & p {
    padding: 10px;
    color: $colour-dark;
    transform: rotate(2deg);
    border: 4px double $colour-dark;
    background-color: $colour-bright;
    margin: 10px;
    width: 220px;

    @media (min-width: $mediumScreen) {
      padding: 1rem;
      width: 300px;
    }
  }

  &--inner {
    display: grid;
    width: 100%;
    justify-items: center;

    & a {
      width: 150px;

      @media (min-width: $mediumScreen) {
        padding: 1rem;
        width: 300px;
      }
    }
  }
}
