.loginForm {
  width: 250px;
  margin: auto;
  padding: 1rem;
  background-color: $colour-light;

  &__heading {
    text-align: center;
  }

  &__button {
    width: 100px;
    margin-left: 50%;

    @media (min-width: $smallScreen) {
      margin-left: 60%;
      width: 150px;
    }
  }

  &__description {
    font-style: italic;
    font-size: 0.8rem;

    @media (min-width: $mediumScreen) {
      font-size: 1rem;
    }

    & span {
      font-weight: bold;
    }
  }

  @media (min-width: $smallScreen) {
    width: 400px;
    font-size: 1.2rem;
  }
}
