.navbar {
  background-color: $colour-header;
  font-size: 1rem;

  &__link {
    color: $colour-light;
    margin: 0 20px;
    text-align: center;

    &:hover {
      text-decoration: underline;
      color: $colour-light;
    }

    @media (min-width: $mediumScreen) {
      font-size: 1.1rem;
    }
    @media (min-width: $largescreen) {
      font-size: 1.3rem;
    }
  }

  &__logo {
    width: 150px;
  }

  &__logout {
    color: $colour-light;
    align-self: center;
    background: black;
    border-radius: 5px;
    padding: 0;
    font-size: 0.8rem;

    @media (min-width: $mediumScreen) {
      position: absolute;
      right: 1rem;
    }
  }
}
