.postList {
  display: grid;
  justify-items: center;
  background-image: url("../../assets/background-image03.jpg");

  @media (min-width: $smallScreen) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $largescreen) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__card {
    width: 70%;
    background-color: $colour-light;

    @media (min-width: $smallScreen) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--author {
      color: $colour-dark;
      font-size: 1.1rem;
    }

    &--body {
      display: grid;
      align-content: end;
    }

    &--header {
      border-top: 1px solid $colour-dark;
    }

    &--arrow {
      color: $colour-dark;
      font-size: 2rem;
      position: absolute;
      right: 10px;
      bottom: 10px;

      &:hover {
        fill: $colour-gray;
        transition: $button-hover-effect;
        font-size: 2.5rem;
      }
    }
  }
}
