.postList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $largescreen) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__card {
    width: 80%;
    position: relative;
    background-color: $colour-light;

    @media (min-width: $largescreen) {
      width: 90%;
    }

    @media (min-width: $smallScreen) {
      /* width: 500px; */
      display: flex;
      flex-direction: row;
    }

    &--author {
      color: $colour-dark;
      font-size: 1.1rem;
    }

    &--arrow {
      color: $colour-dark;
      font-size: 2rem;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }

    &--image {
      @media (min-width: $smallScreen) {
        width: 200px;
      }
    }

    &--header {
      @media (min-width: $smallScreen) {
        width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (min-width: $largescreen) {
          width: 200px;
        }
      }
    }
  }
}

.postDetails {
  text-align: center;

  & img {
    margin: 1rem;
    width: 80%;

    @media (min-width: $mediumScreen) {
      width: 620px;
    }
  }
  &__bodytext {
    background-color: $colour-dark;
    color: $colour-light;
    padding: 1rem;
  }
}

.postComments {
  display: grid;
  justify-content: center;

  & div {
    &:nth-child(odd) {
      background-color: $colour-light;
    }
  }

  &__item {
    margin: 1rem;
    padding: 10px;
    border-bottom: 4px double black;
    width: 260px;

    @media (min-width: $smallScreen) {
      width: 350px;
    }
    @media (min-width: $mediumScreen) {
      width: 500px;
    }
  }

  & a {
    width: 150px;
    justify-self: center;
  }
}

.postReactions {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.reactOnPostForm,
.commentOnPostsForm {
  display: grid;

  & fieldset,
  select {
    width: 260px;
    justify-self: center;
    box-shadow: $button-shadow;
  }
}
