.postDetails {
  text-align: center;

  & img {
    margin: 1rem;
    width: 80%;

    @media (min-width: $mediumScreen) {
      width: 620px;
    }
  }
  &__bodytext {
    background-color: $colour-bright;
    color: $colour-dark;
    padding: 1.5rem;
    margin: auto;

    @media (min-width: $mediumScreen) {
      width: 60%;
      font-size: 1.2rem;
    }
  }

  &__tags {
    background-color: $colour-bright;
    display: grid;
    width: fit-content;
    margin: 10px auto;

    &--item {
      background-color: $colour-light;
    }
  }

  &__comments,
  &__reactions {
    background-color: $colour-bright;
    margin: 1rem auto;
    width: fit-content;
    padding: 0.5rem;
  }
}
