.profile {
  &__avatar {
    width: 100px;
  }

  &__banner {
    width: 50%;

    @media (min-width: $largescreen) {
      max-width: 500px;
    }
  }

  &Page__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.profileDetails {
  &__posts {
    display: grid;
    justify-content: center;
    box-shadow: 1px 1px 2px 0px $colour-dark;

    & img {
      max-width: 150px;
    }
    &:hover {
      box-shadow: 1px 1px 4px 0px $colour-dark;
    }
  }

  &__navigateBack--btn {
    padding: 10px;
    box-shadow: 1px 1px 2px 0px $colour-dark;
    background-color: $colour-dark;
    color: $colour-light;
  }
}

.profiles {
  &__card {
    width: 230px;
    align-items: center;
    background-color: $colour-light;

    &--avatar {
      width: 150px;
    }

    &--link {
      padding: 5px;
      margin-bottom: 5px;
      box-shadow: 1px 1px 2px 0px $colour-dark;
      background-color: $colour-header;
      color: $colour-light;

      &:hover {
        background-color: $colour-dark;
        color: $colour-light;
        transition: 0.5s ease;
      }
    }

    @media (min-width: 768px) {
      width: 300px;
    }
  }

  &__search--message {
    font-size: 0.8rem;
    font-style: italic;
  }
}

.unfollow__button,
.follow__button {
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 2px 0px $colour-dark;
  background-color: $colour-header;
  color: $colour-light;
}
