.profile {
  &__avatar {
    width: 100px;
  }

  &__banner {
    width: 50%;

    @media (min-width: $largescreen) {
      max-width: 500px;
    }
  }
}

.profileDetails {
  &__posts {
    box-shadow: $button-shadow;
    max-width: 500px;
    background-color: $colour-bright;
    border: 4px double $colour-dark;

    & img {
      max-width: 150px;
    }
    &:hover {
      box-shadow: $button-hover-effect;
    }
  }

  &__navigateBack--btn {
    padding: 10px;
    box-shadow: 1px 1px 2px 0px $colour-dark;
    background-color: $colour-dark;
    color: $colour-light;
  }
}

.profiles {
  display: grid;
  justify-items: center;
  background-image: url("../../assets/background-image03.jpg");

  @media (min-width: $smallScreen) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $largescreen) {
    grid-template-columns: repeat(3, 1fr);
  }
  &__card {
    width: 240px;
    align-items: center;
    background-color: $colour-light;

    &--body {
      display: grid;
      align-content: end;
      justify-items: center;
    }

    &--avatar {
      width: 100%;
    }

    &--name {
      border-top: 1px solid $colour-dark;
    }

    &--link {
      width: fit-content;
    }
  }

  &__searchForm--message {
    font-size: 0.8rem;
    font-style: italic;
  }
}
