.registerUserForm {
  width: 250px;
  margin: auto;
  padding: 1rem;
  background-color: $colour-light;

  &__button {
    width: 100px;
    margin-left: 60%;

    @media (min-width: $smallScreen) {
      margin-left: 75%;
    }
  }

  @media (min-width: $smallScreen) {
    width: 400px;
  }
}
