.form__error {
  color: $colour-error;
  margin: 10px;
  background-color: $colour-error-bg;
}

.form__success {
  background-color: $colour-dark;
  color: $colour-light;
  padding: 10px;
  text-align: center;
}

.loadingText {
  background-color: black;
  color: white;
  padding: 5px;
}

.loader {
  display: flex;

  & div {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin: 0.8rem;
    animation: bouncing 1.5s 0.5s linear infinite;
    background-color: black;
  }
}

.loader--ballOne {
  animation-delay: 0.1s;
}
.loader--ballTwo {
  animation-delay: 0.3s;
}
.loader--ballThree {
  animation-delay: 0.5s;
}
.loader--ballFour {
  animation-delay: 0.7s;
}

@keyframes bouncing {
  0%,
  100% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1);
  }
}
