.form__error {
  color: $colour-dark;
  margin: 10px;
  background-color: $colour-error-bg;
  font-size: 0.9rem;
  @media (min-width: $mediumScreen) {
    font-size: 1rem;
  }
}

.form__success {
  background-color: $colour-dark;
  color: $colour-light;
  padding: 10px;
  text-align: center;
}

.loadingText {
  background-color: $colour-dark;
  color: $colour-light;
  padding: 5px;
}
