.form__error {
  color: $colour-error;
  margin: 10px;
  background-color: $colour-error-bg;
}

.form__success {
  background-color: $colour-dark;
  color: $colour-light;
  padding: 10px;
  text-align: center;
}

.loadingText {
  background-color: black;
  color: white;
}
