//colors
$colour-header: #c06900;
$colour-light: #eff0ea;
$colour-dark: #494031;
$colour-bright: #eaef5e;
$colour-gray: #a6a69e;
$colour-error: #d80707;
$colour-error-bg: #ffc0cb;

//fonts
$font-navigation: "Comfortaa", sans-serif;
$font-main: "DM Mono", monospace;

//screen sizes
$mobileScreen: 390px;
$smallScreen: 575px;
$mediumScreen: 768px;
$largescreen: 991px;

//box shadows
$button-shadow: 1px 1px 2px 0px $colour-dark;
$button-shadow-hover: 1px 1px 4px 0px $colour-dark;
